<p id="notice"><%= notice %></p>

<p>
  <strong>Hometeam:</strong>
  <%= @fixture.hometeam_id %>
</p>

<p>
  <strong>Awayteam:</strong>
  <%= @fixture.awayteam_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fixture.date %>
</p>

<p>
  <strong>Scrapper history:</strong>
  <%= @fixture.scrapper_id %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @fixture.competition_id %>
</p>

<%= link_to 'Edit', edit_fixture_path(@fixture) %> |
<%= link_to 'Back', fixtures_path %>
