<%= form_for(@scrapper) do |f| %>
  <% if @scrapper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrapper.errors.count, "error") %> prohibited this scrapper from being saved:</h2>

      <ul>
      <% @scrapper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :competition %><br>
    <%= f.text_field :competition %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
